In [5]:
import pandas as pd

olympic = pd.read_csv("athlete_events.csv")

In [6]:
olympic.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [8]:
olympic.query('Team =="China"')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
1072,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN
2611,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN
2612,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270443,135272,Zou Wenzhi,M,NaN,NaN,NaN,China,CHN,1948 Summer,1948,Summer,London,Football,Football Men's Football,NaN
270444,135273,Zou Yuchen,M,20.0,203.0,107.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
270445,135274,Zou Zhenxian,M,28.0,184.0,72.0,China,CHN,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Men's Triple Jump,NaN
270559,135318,Zu Lijun,M,26.0,188.0,87.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 10 kilometres Open Water,NaN
270822,135445,Zuo Yue,M,21.0,192.0,88.0,China,CHN,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,NaN